# Data Processing Code for COVID-19 JHU Data

In [202]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

#### Overwrite existing data.

JHU data in this repository is updated daily.

In [203]:
!sudo rm -r ../data/raw/covid19-JHU/

In [204]:
!git clone https://github.com/CSSEGISandData/COVID-19.git ../data/raw/covid19-JHU

Cloning into '../data/raw/covid19-JHU'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 16480 (delta 4), reused 9 (delta 4), pack-reused 16467
Receiving objects: 100% (16480/16480), 64.34 MiB | 42.47 MiB/s, done.
Resolving deltas: 100% (8165/8165), done.

#### Load into a df

Input and output file locations

In [205]:
mypath = '../data/raw/covid19-JHU/csse_covid_19_data/csse_covid_19_daily_reports/'
population_data = '../data/raw/population/populations.csv'
covid19_out = '../data/processed/covid19-JHU/covid19-JHU.csv'

In [206]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f)) and f != 'README.md' and f != '.gitignore']
onlyfiles.sort()

check start and end file names

In [207]:
print(onlyfiles[0], onlyfiles[-1])

01-22-2020.csv 03-26-2020.csv

In [208]:
i = 0
for f in onlyfiles:
    # data format changed on 3-23
    if datetime.strptime(f[:-4] , '%m-%d-%Y') < datetime.strptime('03-22-2020', '%m-%d-%Y'):
        df = pd.read_csv(mypath + f)
        df = df[['Province/State', 'Country/Region', 'Last Update', 'Confirmed', 'Deaths', 'Recovered']]
        df = df.groupby(['Country/Region']).sum()
        df['Date'] = f[:-4]
        if i == 0:
            dfs = df
        if i > 0:
            dfs = pd.concat([dfs, df])
        i += 1
    else:
        df = pd.read_csv(mypath + f)
        df = df[['Province_State', 'Country_Region', 'Last_Update', 'Confirmed', 'Deaths', 'Recovered']]
        df.columns = ['Province/State', 'Country/Region', 'Last Update', 'Confirmed', 'Deaths', 'Recovered']
        df = df.groupby(['Country/Region']).sum()
        df['Date'] = f[:-4]
        if i == 0:
            dfs = df
        if i > 0:
            dfs = pd.concat([dfs, df])
        i += 1
    print(f, ' loaded')

01-22-2020.csv  loaded
01-23-2020.csv  loaded
01-24-2020.csv  loaded
01-25-2020.csv  loaded
01-26-2020.csv  loaded
01-27-2020.csv  loaded
01-28-2020.csv  loaded
01-29-2020.csv  loaded
01-30-2020.csv  loaded
01-31-2020.csv  loaded
02-01-2020.csv  loaded
02-02-2020.csv  loaded
02-03-2020.csv  loaded
02-04-2020.csv  loaded
02-05-2020.csv  loaded
02-06-2020.csv  loaded
02-07-2020.csv  loaded
02-08-2020.csv  loaded
02-09-2020.csv  loaded
02-10-2020.csv  loaded
02-11-2020.csv  loaded
02-12-2020.csv  loaded
02-13-2020.csv  loaded
02-14-2020.csv  loaded
02-15-2020.csv  loaded
02-16-2020.csv  loaded
02-17-2020.csv  loaded
02-18-2020.csv  loaded
02-19-2020.csv  loaded
02-20-2020.csv  loaded
02-21-2020.csv  loaded
02-22-2020.csv  loaded
02-23-2020.csv  loaded
02-24-2020.csv  loaded
02-25-2020.csv  loaded
02-26-2020.csv  loaded
02-27-2020.csv  loaded
02-28-2020.csv  loaded
02-29-2020.csv  loaded
03-01-2020.csv  loaded
03-02-2020.csv  loaded
03-03-2020.csv  loaded
03-04-2020.csv  loaded
03-05-2020.csv  loaded
03-06-2020.csv  loaded
03-07-2020.csv  loaded
03-08-2020.csv  loaded
03-09-2020.csv  loaded
03-10-2020.csv  loaded
03-11-2020.csv  loaded
03-12-2020.csv  loaded
03-13-2020.csv  loaded
03-14-2020.csv  loaded
03-15-2020.csv  loaded
03-16-2020.csv  loaded
03-17-2020.csv  loaded
03-18-2020.csv  loaded
03-19-2020.csv  loaded
03-20-2020.csv  loaded
03-21-2020.csv  loaded
03-22-2020.csv  loaded
03-23-2020.csv  loaded
03-24-2020.csv  loaded
03-25-2020.csv  loaded
03-26-2020.csv  loaded

#### Modify country names

Some of the country names are reported differently in different JHU files.

Regional distinctions are merged under one unifying country name.

Some names are altered to merge with the population data.

This may need to be altered over time if JHU country names change again in future files.

In [209]:
names = dfs.index.tolist()
names = [x.strip() for x in names]
changelist = [i for i, value in enumerate(names) if value == 'Mainland China']
for c in changelist: names[c] = 'China'
changelist = [i for i, value in enumerate(names) if value == 'Republic of Korea']
for c in changelist: names[c] = 'South Korea'
changelist = [i for i, value in enumerate(names) if value == 'Korea, South']
for c in changelist: names[c] = 'South Korea'
changelist = [i for i, value in enumerate(names) if value == 'Iran (Islamic Republic of)']
for c in changelist: names[c] = 'Iran'
changelist = [i for i, value in enumerate(names) if value == 'Iran (Islamic Republic of)']
for c in changelist: names[c] = 'Iran'
changelist = [i for i, value in enumerate(names) if value == 'occupied Palestinian territory']
for c in changelist: names[c] = 'Israel'
changelist = [i for i, value in enumerate(names) if value == 'United Kingdom']
for c in changelist: names[c] = 'UK'
changelist = [i for i, value in enumerate(names) if value == 'Hong Kong SAR']
for c in changelist: names[c] = 'Hong Kong'
changelist = [i for i, value in enumerate(names) if value == 'Taipei and environs']
for c in changelist: names[c] = 'Taiwan'
changelist = [i for i, value in enumerate(names) if value == 'Taiwan*']
for c in changelist: names[c] = 'Taiwan'
changelist = [i for i, value in enumerate(names) if value == 'Republic of Ireland']
for c in changelist: names[c] = 'Ireland'
changelist = [i for i, value in enumerate(names) if value == 'Czechia']
for c in changelist: names[c] = 'Czech Republic'
changelist = [i for i, value in enumerate(names) if value == 'Macau']
for c in changelist: names[c] = 'Macao'
changelist = [i for i, value in enumerate(names) if value == 'Macao SAR']
for c in changelist: names[c] = 'Macao'
changelist = [i for i, value in enumerate(names) if value == 'Republic of Moldova']
for c in changelist: names[c] = 'Moldova'
changelist = [i for i, value in enumerate(names) if value == 'Cote d\'Ivoire']
for c in changelist: names[c] = 'Ivory Coast'
changelist = [i for i, value in enumerate(names) if value == 'Viet Nam']
for c in changelist: names[c] = 'Vietnam'
changelist = [i for i, value in enumerate(names) if value == 'Russian Federation']
for c in changelist: names[c] = 'Russia'
changelist = [i for i, value in enumerate(names) if value == 'Congo (Kinshasa)']
for c in changelist: names[c] = 'Congo'
changelist = [i for i, value in enumerate(names) if value == 'DR Congo']
for c in changelist: names[c] = 'Congo'
changelist = [i for i, value in enumerate(names) if value == 'North Ireland']
for c in changelist: names[c] = 'Ireland'
changelist = [i for i, value in enumerate(names) if value == 'St. Martin']
for c in changelist: names[c] = 'Saint Martin'
dfs.index = names
dfs.index.rename('Country', inplace=True)
dfs['Date'] = pd.to_datetime(dfs['Date'])

#### Merge with the population data

In [210]:
dfp = pd.read_csv(population_data)
dfp.index = dfp.Country.values
dfp.drop(['Country'], axis=1, inplace=True)
dfp.index.rename('Country', inplace=True)
dfp.head()

           Population
Country
China      1439323776
India      1380004385
US          331002651
Indonesia   273523615
Pakistan    220892340

In [211]:
dfsj = dfs.join(dfp, how='outer')
dfsj['Population'] = pd.to_numeric(dfsj['Population'])

#### ***IMPORTANT ERROR CHECK STEP***

Important error check step to see if JHU country names have changed in recent files and to see which JHU reporting regions have been left out of the final analysis. Sometimes new countries will show up in the list as well. As needed, the names of these countries will need to be modified above in order to merge properly.

In [212]:
dfsj[dfsj.Population.isnull()].groupby('Country').max().sort_values('Confirmed', ascending=False)

,Confirmed,Deaths,Recovered,Date,Population
Country,,,,,
Cruise Ship,712.0,8.0,567.0,2020-03-23,NaN
Diamond Princess,712.0,10.0,597.0,2020-03-26,NaN
Others,706.0,6.0,40.0,2020-03-10,NaN
West Bank and Gaza,84.0,1.0,17.0,2020-03-26,NaN
Kosovo,71.0,1.0,0.0,2020-03-26,NaN
Reunion,45.0,0.0,0.0,2020-03-21,NaN
"Bahamas, The",4.0,0.0,0.0,2020-03-21,NaN
Congo (Brazzaville),4.0,0.0,0.0,2020-03-26,NaN
Faroe Islands,2.0,0.0,0.0,2020-03-10,NaN
Saint Kitts and Nevis,2.0,0.0,0.0,2020-03-26,NaN
Jersey,2.0,0.0,0.0,2020-03-21,NaN
"Gambia, The",1.0,0.0,0.0,2020-03-21,NaN
Guernsey,1.0,0.0,0.0,2020-03-21,NaN
Cape Verde,1.0,0.0,0.0,2020-03-21,NaN
East Timor,1.0,0.0,0.0,2020-03-21,NaN
Curacao,1.0,0.0,0.0,2020-03-15,NaN
Republic of the Congo,1.0,0.0,0.0,2020-03-21,NaN
Saint Vincent and the Grenadines,1.0,0.0,0.0,2020-03-26,NaN
The Bahamas,1.0,0.0,0.0,2020-03-21,NaN
The Gambia,1.0,0.0,0.0,2020-03-21,NaN
Vatican City,1.0,0.0,0.0,2020-03-09,NaN

Drop those that don't merge properly

In [213]:
dfsj.dropna(inplace=True)
dfsj['PercPopConfirmed'] = 100* dfsj.Confirmed/dfsj.Population
dfsj['PercPopDeaths'] = 100* dfsj.Deaths/dfsj.Population

In [214]:
dfsj.to_csv(covid19_out)